.App{
    background-color: rgba(213, 213, 213, 0.24);
    height:100vh;
    overflow: hidden;
}
.body{
    display: flex;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-y: scroll;

}



