.login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
   
}
.login-container{
    display: flex;
    flex-direction: column;
   
}
.login-container > img{
    object-fit: contain;
    width: 100%;
    height: 50px; 
   
}
.login-container > button{
    margin-top: 25px;
    background-color: midnightblue;
    color: white;
    font-weight: bolder;
    font-size: 16px;
    padding: 3px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    cursor: pointer;
}