.mail{
    flex: 1;
    background-color:white;
    border-radius: 20px;
   overflow-y: hidden;
}
.mail_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    border-bottom: 1px solid whitesmoke;
    z-index: 999;
}
.mail_header-left{
    display: flex;
}

.mail_header-right{
    display: flex;
    align-items: center;
}
.mail_header-right > small{
    color: rgba(63, 60, 60, 0.871);
    font-size: 11px;
    font-weight: 500;
    margin-right: 20px;
}
.mail_header .MuiSvgIcon-root{
    font-size: 18px;
    color: rgba(63, 60, 60, 0.871);
}
.labels{
    display: none;
}
.icon_label{
    display: flex;
    flex-direction: row;
}
.icon_label:hover > .labels{
   display: inline;
    position: absolute;
    top: 37px;
    background-color: rgba(0, 0, 0, 0.718);
    color: white;
    font-size: 10px;
    padding: 4px 6px;
    border-radius: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;

}

.divider{
    background-color: rgba(211, 211, 211, 0.478);
    width: 1px;
    height: 17px;
    margin-top: 15px;
}
.mail_body{
    padding: 10px;
    overflow-y: auto;
    height: 100vh;
   
}
.mail_body-subject{
    display: flex;
    align-items: center;
}
.mail_body-subject > h3{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-left: 35px;
}
.inbox{
    background-color: rgba(128, 128, 128, 0.201);
    text-transform: lowercase ;
    font-size: 11px;
    padding: 2px 7px;
    margin-top: 8px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.subject-icons {
    display: flex;
    color: gray;
    margin-left: auto;
    margin-right: 50px;
}
.subject-icons > .icon_label{
    padding: 10px;
}
.subject-icons .MuiSvgIcon-root{
    font-size: 18px;
    color: lightgray;
}
.subject-icons > .icon_label > .labels{
    top: 140px;
    padding: 5px;
}
.mail-body-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}
.info-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}
.sender{
    display: flex;
}
.sender h4{
    font-size: 16px;
    font-weight: 600;
    margin-right: 3px;
    
}
.sender > span{
    font-size: 12px;
    margin-top: 3px;
    color: gray;
}
.reciever {
    display: flex;
    align-items: center;
    margin-right: auto;
   
}
.reciever p{
    font-size: 13px; 
}
.reciever .MuiSvgIcon-root{
    font-size: 19px;
}
.info-right{
    display: flex;
    align-items: center;
    margin-right: 25px;
}
.info-right p{
    font-size: 12px;
}
.info-right .MuiSvgIcon-root{
    font-size: 18px;
}
.info-icons:hover > .labels{
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.718);
    color: white;
    font-size: 10px;
    padding: 4px 6px;
    border-radius: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}
.mail_message{
    width: 70%;
    margin:15px auto;
    background-color: white;
    height: auto;
    padding: 30px;
    border-radius: 2px;
    line-height: 2rem;
    font-size: 14px;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
}

.message_options{
   display: flex;
    height: 50vh;
    margin-bottom: 50px;
    margin:100px 80px 30px;
}
.forward{
    background-color: white !important;
    height: 25px !important;
    border: 1px solid gray !important;
    border-radius: 15px !important;
    padding: 15px !important;
    text-transform: capitalize !important;
    font-size: 13px !important;
}
.reply{
    background-color: white !important;
    height: 25px !important;
    margin-right: 20px !important;
    border: 1px solid gray !important;
    border-radius: 15px !important;
    padding: 15px !important;
    font-size: 13px !important;
    text-transform: capitalize !important;
}
.reply:hover{
    background-color: whitesmoke!important;
}
.forward:hover{
    background-color: whitesmoke!important;
}



