.section{
    display: flex;
    align-items: center;
    min-width: 200px;
    padding: 15px;
    cursor: pointer;
    margin-right: 5px;
    color: gray;
    border-width: 0 !important;
    font-size: 13px;
    font-weight: 500;
}

.section .MuiSvgIcon-root{
    font-size: 16px;
    margin-right: 10px;
}
.section-selected{
    background-color: whitesmoke;
    border-width: 3px !important;
}
.section:hover{
    background-color: whitesmoke;
    border-width: 3px  !important;
}