.sidebar-options{
    display: flex;
    align-items: center;
    padding: 3px 13px;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color:gray;
    font-size: 13px;
    margin: 2px 5px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: normal;
}
.sidebar-options > strong {
    margin-left: 12px;
    flex: 1;  
    font-weight: 400;
}
.sidebar-options p{
    display: none;
    font-weight: 600;
}
.sidebar-options .MuiSvgIcon-root{
    font-size: 20px;
}
.sidebar-options--selected > p{
    display: inline;
}

.sidebar-options--selected,
.sidebar-options--selected > strong,
.sidebar-options--selected:hover > p{
    background-color:rgba(188, 244, 225, 0.897) !important;
    font-weight: bold;
}

.sidebar-options:hover{
    background-color: lightgray;
}
