.sidebar{
    flex: 0.22;
    padding-right: 5px;
}
.compose{
 margin: 13px 15px !important; 
 padding: 12px 17px !important;
 border-radius: 16px !important;
 background-color: rgba(188, 244, 225, 0.897) !important;
 text-transform: capitalize !important;
 font-weight:bold !important;
}
.compose:hover{
    box-shadow: 2px 2px 2px 2px rgba(157, 162, 160, 0.897);
}
.label{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 25px;
    color: gray;
   
}
.label > p{
    flex: 1;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
